# make git detect all text files and auto-normalize them (convert 'crlf to' 'lf')
# declare this setting first so that subsequent lines can override it
* text=auto

# these file types are text; they should be normalized
*.md   text
*.ps1  text
*.psm1 text

# these file types are binary; they should not be normalized
